:root {
  --border-radius: 30px;

  --color-accent: #ff3400;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #cccccc;
  --color-headings: #1b0760;
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  line-height: 1.5;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
}

h1,
h2,
h3 {
  margin-bottom: 1rem;

  color: var(--color-headings);
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  font-weight: bold;
  font-size: 2rem;
  color: var(--color-accent);
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";

  margin-left: 5px;

  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  padding: 0.5rem 2rem;

  font-weight: 600;
  font-size: 2rem;
  white-space: nowrap;

  border-radius: 20px;
}

.badge--primary {
  color: #ffffff;

  background: var(--color-primary);
}

.barge--secondary {
  color: #ffffff;

  background: var(--color-secondary);
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  padding-left: 0;

  list-style: none;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  padding-left: 3rem;

  list-style-image: url("../images/tick.svg");
}

.list--tick .list__item {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;

  background: #f3f9f9;
  border-radius: 100%;
}

/* Buttons */

.btn {
  margin: 1rem 0;
  padding: 2rem 3rem;

  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  border: 0;
  border-radius: 40px;
  cursor: pointer;
}

.btn--primary {
  color: #ffffff;

  background: var(--color-primary);
}

.btn--primary:hover {
  background: #0d75fd;
}

.btn--secondary {
  color: #ffffff;

  background: var(--color-secondary);
}

.btn--secondary:hover {
  background: #00c8eb;
}

.btn--accent {
  color: #ffffff;

  background: var(--color-accent);
}

.btn--accent:hover {
  background: #ec3000;
}

.btn--outline {
  color: var(--color-headings);

  background: #ffffff;
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  color: #ffffff;

  background: var(--color-headings);
}

.btn--block {
  display: inline-block;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */

.input {
  padding: 1.5rem 2.5rem;

  color: var(--color-headings);

  border: 1px solid var(--color-border);
  border-radius: 30px;
  outline: 0;
}

.input-group {
  display: flex;

  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}

.input-group .input {
  flex-grow: 1;

  border: 0;
}

.input-group .btn {
  margin: 4px;
}

::placeholder {
  font-size: 2rem;
  color: #a7a7a8;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Cards */

.card {
  overflow: hidden;

  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  color: #ffffff;

  background: var(--color-primary);
}

.card--secondary .card__header {
  color: #ffffff;

  background: var(--color-secondary);
}

/* Plans */

.plan__name {
  margin: 0;

  font-weight: 500;
  font-size: 2.4rem;
  color: #ffffff;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  margin-right: 1rem;

  font-weight: 300;
  font-size: 2.4rem;

  opacity: 0.8;
}

.plan__description {
  display: block;

  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 1px;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  position: absolute;
  top: -6px;
  right: 5%;

  display: inline-block;
  width: 40px;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* Media */

.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}

/* Quotes */

.quote__text {
  font-style: italic;
  font-size: 3rem;
  line-height: 1.3;
  color: var(--color-body-darker);
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  margin-bottom: 0;

  font-weight: 500;
  font-size: 3rem;
}

.quote__organization {
  font-size: 2rem;
  color: var(--color-headings);

  opacity: 0.4;
}

.quote-line {
  position: relative;
  bottom: 6px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__organization {
    font-size: 1.6rem;
  }
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
