:root {
  --border-radius: 40px;

  --color-accent: #ff3400;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #cccccc;
  --color-headings: #1b0760;
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  line-height: 1.5;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
}

h1,
h2,
h3 {
  margin-bottom: 1rem;

  line-height: 1.1;
  color: var(--color-headings);
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  font-weight: bold;
  font-size: 2rem;
  color: var(--color-accent);
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";

  margin-left: 5px;

  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  padding: 0.5rem 2rem;

  font-weight: 600;
  font-size: 2rem;
  white-space: nowrap;

  border-radius: 20px;
}

.badge--primary {
  color: #ffffff;

  background: var(--color-primary);
}

.badge--secondary {
  color: #ffffff;

  background: var(--color-secondary);
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  padding-left: 0;

  list-style: none;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  padding-left: 3rem;

  list-style-image: url("../images/tick.svg");
}

.list--tick .list__item {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #ffffff;
}

.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;

  background: #f3f9f9;
  border-radius: 100%;
}

.icon-container--accent {
  background: var(--color-accent);
}

/* Buttons */

.btn {
  margin: 1rem 0;
  padding: 2rem 3rem;

  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  border: 0;
  border-radius: 40px;
  outline: 0;
  cursor: pointer;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;

  vertical-align: middle;
}
.btn--primary {
  color: #ffffff;

  background: var(--color-primary);
}

.btn--primary:hover {
  background: #0d75fd;
}

.btn--secondary {
  color: #ffffff;

  background: var(--color-secondary);
}

.btn--secondary:hover {
  background: #00c8eb;
}

.btn--accent {
  color: #ffffff;

  background: var(--color-accent);
}

.btn--accent:hover {
  background: #ec3000;
}

.btn--outline {
  color: var(--color-headings);

  background: #ffffff;
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  color: #ffffff;

  background: var(--color-headings);
}

.btn--block {
  display: inline-block;
  width: 100%;
}

.btn--stretched {
  padding-right: 6rem;
  padding-left: 6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */

.input {
  padding: 1.5rem 2.5rem;

  font-size: 2rem;
  color: var(--color-headings);

  border: 1px solid var(--color-border);
  border-radius: 30px;
  outline: 0;
}

::placeholder {
  color: #a7a7a8;
}

.input-group {
  display: flex;

  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}

.input-group .input {
  flex-grow: 1;
  flex-shrink: 1;

  border: 0;
}

.input-group .btn {
  flex-shrink: 0;
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Cards */

.card {
  overflow: hidden;

  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  color: #ffffff;

  background: var(--color-primary);
}

.card--secondary .card__header {
  color: #ffffff;

  background: var(--color-secondary);
}

.card--primary .badge--primary {
  background: #126de4;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

/* Plans */

.plan {
  transition: transform 0.2s ease-out;
}

.plan:hover {
  transform: scale(1.05);
}

.plan--popular:hover {
  transform: scale(1.15);
}

.plan__name {
  margin: 0;

  font-weight: 500;
  font-size: 2.4rem;
  color: #ffffff;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  margin-right: 1rem;

  font-weight: 300;
  font-size: 2.4rem;

  opacity: 0.8;
}

.plan__description {
  display: block;

  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 1px;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular {
  transform: scale(1.1);
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  position: absolute;
  top: -6px;
  right: 5%;

  display: inline-block;
  width: 40px;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* Media */

.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}

/* Quotes */

.quote__text {
  font-style: italic;
  font-size: 3rem;
  line-height: 1.3;
  color: var(--color-body-darker);
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  margin-bottom: 0;

  font-weight: 500;
  font-size: 3rem;
}

.quote__organization {
  font-size: 2rem;
  color: var(--color-headings);

  opacity: 0.4;
}

.quote-line {
  position: relative;
  bottom: 6px;
}

@media screen and (min-width: 1024px) {
  .quote__text {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__organization {
    font-size: 1.6rem;
  }
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonials */

.testimonial {
  padding: 4rem;
}

.testimonial__image-container {
  position: relative;
}

.testimonial__image-container > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

.testimonial__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .testimonial .quote__text,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* Callouts */

.callout {
  padding: 4rem;

  border-radius: 5px;
}

.callout--primary {
  color: #ffffff;

  background: var(--color-primary);
}

.callout__content {
  text-align: center;
}

.callout__heading {
  margin-top: 0;

  font-size: 3rem;
  color: #ffffff;
}

.callout .btn {
  align-self: center;

  justify-self: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
  .callout__content {
    text-align: left;
  }

  .callout .btn {
    margin: 0 3rem;

    justify-self: start;
  }
}

/* Collapsibles */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;

  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);

  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;

  opacity: 0;

  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;

  opacity: 100%;
}

/* Blocks */

.block {
  padding: var(--padding-vertical) 2rem;

  --padding-vertical: 6rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  color: #7b858b;

  background: #000000;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #ffffff;
}

.block--dark .block__heading {
  color: #ffffff;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);

  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);

  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navigation Bar */

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  background: #000000;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;

  border-bottom: 1px solid #222222;
}

.nav__item > a {
  color: #d2d0db;

  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #ffffff;
}

.nav__toggler {
  cursor: pointer;
  opacity: 0.5;

  transition: box-shadow 0.15s;
}

.nav.collapsible--expanded .nav__toggler {
  border-radius: 5px;
  box-shadow: 0 0 0 3px #666666;
  opacity: 100%;
}

.nav__brand {
  transform: translateY(5px);
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    display: flex;
    width: auto;
    max-height: 100%;

    font-size: 1.6rem;

    opacity: 100%;
  }

  .nav__item {
    border: 0;
  }
}

/* Hero */

.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.hero__tagline {
  margin: 2rem 0 5rem;

  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
}

.hero__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }

  .hero__content {
    align-self: center;

    text-align: left;
  }
}

/* Domain block */

.block-domain .input-group {
  max-width: 670px;
  margin: 4rem auto;

  border: 0;
  box-shadow: 0 0 30px 20px #e6ebee;
}

.block-domain__prices {
  display: grid;
  max-width: 700px;
  margin: auto;

  font-weight: 600;
  font-size: 2rem;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 6rem);
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* Plans block */

.block-plans .grid {
  gap: 8rem 4rem;
}

.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
}

/* Features */

.feature {
  margin: 12rem 0;

  gap: 4rem 2rem;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature__heading {
  margin: 1rem 0;
}

.feature__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/* Showcase block */

.block-showcase .grid {
  gap: 4rem 2rem;
}

.block-showcase__image > img {
  width: 100%;
}

.block-showcase__title {
  margin-bottom: 4rem;
}

.block-showcase .media {
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }

  .block-showcase__title {
    margin-bottom: 6rem;
  }

  .block-showcase__image {
    justify-self: end;
  }

  .block-showcase__image > img {
    width: auto;
    max-width: 700px;
  }
}
