<section class="block block--skewed-right block--dark block-showcase">
  <header class="block__header">
    <h2 class="block-showcase__title">User-friendly Control Panel</h2>
  </header>
  <article class="container grid grid--1x2">
    <picture class="block-showcase__image">
      <source type="image/webp" srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x">
      <source type="image/png" srcset="images/ipad.png 1x, images/ipad@2x.png 2x">
      <img src="images/ipad@2x.png" alt="">
    </picture>
    <div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            Our cloud plans include easy onboarding for new and existing sites and managed WordPress and WooCommerce
            auto-updates.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Staging, Git & WP-CLI</h3>
          <p>
            We make your WordPress and WooCommerce development flow easier with a convenient staging tool and Git and
            WP-CLI integration.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Dynamic Caching & More</h3>
          <p>
            Speed up your WordPress and Woo sites with our SG Optimizer plugin through smart dynamic caching and
            multiple other performance optimizations.
          </p>
        </div>
      </div>
    </div>
  </article>
</section>