<section class="block">
  <header class="block__header">
    <h2>What our Customers are Saying</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, delectus?</p>
  </header>
  <div class="container">
    <div class="testimonial card">
      <div class="grid grid--1x2">
        <div class="testimonial__image-container">
          <img class="testimonial__image" src="./images/testimonial.jpg" alt="A smiling customer">
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--small icon--white">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam praesentium fuga
            consectetur, hic eaque fugiat
            laboriosam nisi tempore fugit sapiente!</p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote-line">
                  <use xlink:href="images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__organization">ABC Company</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>